# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
myShell

# Debug files
*.dSYM/
*.su
/BioMedics/Lab6/nbproject/private/
/BioMedics/Lab6a/nbproject/private/
/BioMedics/Lab6a/build/
/BioMedics/Lab6b/nbproject/private/
/BioMedics/Lab6b/build/
/BioMedics/Lab6c/nbproject/private/
/BioMedics/Lab6c/build/
/BioMedics/Lab7a/nbproject/private/
/BioMedics/Lab7a/build/